/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 3:18:00 PM
    Author     : rmcconville
*/

body {
    font-family: Arial;
}

.menuBar.ui-layout-north>div {
    overflow: hidden;
}

.ui-tabmenuitem>a>span.fa {
    margin: 3px;
    font-size: 13px;
    overflow: visible;
}

td>a>span.fa-trophy {
    color: #ffcc00;
}

.descriptionColumn {
    font-weight: bold;
}
.ui-overlaypanel {
    margin: 10px;
}

.inputLayoutUnit {
    font-size: 12px;
}

/*removes border from the tr and td elements inside the panel grid table */
.noOutlinePanelGrid>*>tr,
.noOutlinePanelGrid>*>*>.ui-panelgrid-cell {
    border: 0px;
}

.ui-datagrid-content {
    border: 0px;
}

.ui-datagrid-column {
    width: 33%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.nemesisPanel {
    height: 300px;
}

.nemesisCarList {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
}

.nemesisGrid {
    margin: auto;
    width: 50%;
    text-align: center;
}

.nemesisGrid>tbody>tr>td {
    width: 50%;
}

.descriptionPanel.ui-panel {
    border: 0px;
    padding: 0px;
}

.analysisDataTable>*>*>*>tr>td {
    font-size: 14px;
}

.analysisDataTable>*>*>*>tr>th {
    font-size: 16px;
}

.analysisGrid>tbody>tr>td {
    width: 50%;
}


.award.ui-panelgrid>*>*>td {
    width: 50%;
}

.eventInfoHeaderRow {
    font-weight: bold;
}

.award.ui-panelgrid {
    width: 100%;
}

.awardInfoButton {
    margin-right: 0;
    margin-left: auto;
}

.awardInfoDialog.ui-dialog-title-dialog {
    text-align: center;
}

.centeredPanelGrid {
    margin: 0 auto;
}

.headerRow {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.ourDriverRow {
    font-weight: bold;
}

.negativeDiff {
    color: green;
}

.positiveDiff {
    color: red
}

.ui-tabs-left > .ui-tabs-nav {
    height: auto;
}

.ui-panel-titlebar {
    text-align: center;
}