/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 3:18:00 PM
    Author     : rmcconville
*/

body {
    font-family: Arial;
}

.ui-icon.fa {
    margin: 3px;
    font-size: 13px;
}

.descriptionColumn {
    font-weight: bold;
}
.ui-overlaypanel {
    margin: 10px;
}

/*removes border from the tr and td elements inside the panel grid table */
.noOutlinePanelGrid.ui-panelgrid>*>tr,
.noOutlinePanelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
}

.ui-datagrid-column {
    width: 25%;
}

.analysisDataTable>*>*>*>tr>td {
    font-size: 14px;
}

.analysisDataTable>*>*>*>tr>th {
    font-size: 16px;
}

.analysisGrid {
    width: inherit;
    border: 2px solid black;
}

.award.ui-panelgrid>*>*>td {
    width: 50%;
}

.eventInfoHeaderRow {
    font-weight: bold;
}

.award.ui-panelgrid>*>tr {
    width: 100%;
}

.centeredPanelGrid {
    margin: 0 auto;
}

.headerRow {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.ourDriverRow {
    font-weight: bold;
}

.negativeDiff {
    color: green;
}

.positiveDiff {
    color: red
}

.ui-tabs-left > .ui-tabs-nav {
    height: auto;
}